/* Body */
#page-body{
    min-height: 100%;
    background-size: cover;
    background-image: url("../images/devmingler-bliss-background.jpeg");
}

.page-font{
    font-family: "Raleway", sans-serif
}

/* Now for the grid */
.w3-row{
    display: flex;
    flex-wrap: wrap;
}

/* 1. For each green card */
.logo-guess-container{
    text-align: center;
    background-color: #60F08A;
    border: 1px black solid;    
    margin: 10px;
    flex: 22%;
    padding: 20px;
}

/* 2. For the container of each logo image */
.logo-guess-image-container{
    height: 100%;
    display: flex;
}

.logo-guess-image-container:hover{
    cursor: pointer;
}

/* 3. For the logo images themselves */
/* Each quiz item: image, input and containter */
.logo-guess-image{
    width: 50%;
    margin: auto;
}

.logo-guess-image-hidden{
    opacity: 0;
}

.logo-guess-image-visible{
    opacity: 100%;
}

/* For the footer */
.w3-hover-opacity{
    cursor: pointer;
}

/* Media Queries */
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .logo-guess-container {
        flex: 47%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .logo-guess-container {
        flex: 30%;
        padding: 20px;
    }
}